<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agencija_za_nekretnine.Properties.Settings.Agencija_za_nekretnineConnectionString"
            connectionString="Data Source=(local);Initial Catalog=&quot;Agencija za nekretnine&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>